lib-bin/*.dll
lib-bin/*.so
lib_managed
project/boot
project/build/target
src/c/z3_Z3Wrapper.h
src/c/z3_Z3Wrapper_IntPtr.h
src/main/java/z3/LibraryChecksum.java
target
z3/**/*.a
z3/**/*.dll
z3/**/*.h
z3/**/*.so
./**/*.swp
